body {
  text-align: center;
  font-family: sans-serif;
}

.buttons-container {
  margin: 1rem;
}

.integers-list {
  border: solid 1px;
  border-radius: 5px;
  display: inline-block;
  min-width: 100px;
  min-height: 1.25rem;
  padding: 1rem;
}

.loading-bar {
  background-color: #0000ff;
  width: 0%;
  height: 5px;
  transition: width 1s linear;
}
